<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Nicole Santora" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="{{ page.description }}" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link rel="stylesheet" href="http://fonts.typotheque.com/WF-026197-008490.css" type="text/css" />
  <link href="//cloud.webtype.com/css/b0021279-039b-4678-a025-9ab8ac8d771c.css" rel="stylesheet" type="text/css" />
</head>