<body>
<!-- Wrap -->
<div class="row fullwidth collapse">
  <div class="large-10 small-12 small-centered columns wrap">
  <!-- Header -->
  <div class="row collapse">
    <div class="small-12 small-centered columns">
      <div class="header text-center">
        <h1 class="name">
          <img src="/assets/images/nicole-santora-x2.png" title="Nicole Sanotra" width="453" height="66">
<!--           <img data-interchange="[/assets/images/nicole-santora-x2.png, (default)], [/assets/images/nicole-santora-x2.png.jpg, (large)]" title="Nicole Sanotra"> -->
        </h1>
        <hr class="divider header-divider">
        <h2 class="title text-upper">Work In Progress</h2>
        <img class="mug" src="/assets/images/mug-x2.png" width="216" height="216">
      </div>
    </div>
  </div>